extends base.jade

block content
    header.page-section.page-section--header

        .page-section__container

            .row

                h1.site-title
                    span.name #{cnrb.name}

                .site-avatar
                    figure.avatar
                        img.avatar__img(src="#{fn.gravatar(600)}", alt="#{cnrb.name}", title="#{cnrb.name}")

    main.site-main

        if msg_welcome

            section#welcome.page-section.page-section--welcome

                .page-section__container

                    .page-section__content

                        p.msg-welcome #{msg_welcome}
                        | !{contents}


        if cnrb.profiles

            section#profiles.page-section.page-section--profiles

                .page-section__container

                    .page-section__content

                        ul.profile-items

                            each profile, profile_id in cnrb.profiles
                                li.profile-item
                                    a.profile-item__link(class="profile-item__link--#{profile_id}", href="#{profile.url}", title="#{profile.title}")
                                        span.profile-item__label #{profile.label}

        if projects

            section#projects.page-section.page-section--projects

                .page-section__container.headline-container

                    .page-section__content

                        h2.headline.headline--projects Referenzen

                ul.project-items

                    each project in projects

                        li.project-item.page-section__container

                            .project.page-section__content

                                h3.project__title #{project.title}
                                time(datetime="#{project.year}").project__year #{project.year}
                                p.project__description #{project.description}
                                if project.links
                                    ul.project__links
                                        each link in project.links
                                            li.project-link
                                                a.project-link__link(href="#{link.url}") #{link.title}

                                if project.images
                                    ul.project__images
                                        each image in project.images
                                            li.project-image
                                                figure.project-image__figure
                                                    a.project-image__link(href="/assets/img/projects/#{image.bigUrl}")
                                                        img.project-image__img(src="/assets/img/projects/#{image.thumbnailUrl}", alt="#{image.alt}")

                                .project__contents !{project.contents}



        section#contact.page-section.page-section--contact

            .page-section__container.headline-container

                .page-section__content

                    h2.headline.headline--contact Kontakt

            .page-section__container

                .page-section__content

                    .row

                        address.contact-address
                            | <strong>#{cnrb.name}</strong><br>
                            | !{cnrb.address.replace(/[\n\r]+/, '<br>') + '<br>'}
                            | #{cnrb.zip} #{cnrb.city}

                        ul.contact-items
                            li.contact-item
                                a.contact-item__link.contact-item__link--email(href="mailto:#{cnrb.email}", title="E-Mail an #{cnrb.name}") #{cnrb.email}
                            li.contact-item
                                a.contact-item__link.contact-item__link--phone(href="tel:#{cnrb.phone}", title="#{cnrb.name} anrufen") #{cnrb.phone_formatted}

    footer.page-section.page-section--footer

        .page-section__container

            .page-section__content

                a.link-home(href="#{siteUrl}", rel="bookmark") electroC

    .background-texture
