meta(property="og:title", content="#{title ? title + ' | ' + siteTitle : siteTitle}")
meta(property="og:description", content="#{siteDescription}")
meta(property="og:site_name", content="siteTitle")
meta(property="og:type", content="website")
meta(property="og:locale", content="#{locale[1]}")
meta(property="og:url", content="#{cnrb.url}")
meta(property="og:image", content="#{fn.gravatar(200)}")
