---
template: question-problem-error.jade
siteDescription: 'question problem error electroC'
---

header.logo
    h1
        a(href="#{siteUrl}", rel="bookmark") electro<span id="text-flicker">C</span>

main.question-problem-error
    h2 Question Problem Error
    p Mail
        a(href="mailto:#{cnrb.email}?subject=question problem error") #{cnrb.email}
    p Call
        a(href="tel:#{cnrb.phone}") #{cnrb.phone}

if environment=='development'

    nav.nav.nav--main
        ul.nav-items
            include ../templates/partials/nav-list.jade

.svglogo.svglogo--studiou
    a.svglogo__link(href="http://studio-u.berlin/", target="_blank", title="Studio U Berlin")
        include ../assets-dev/img/logo-studiou.svg

.svglogo.svglogo--pixlsys
    a.svglogo__link(href="http://pixlsys.com/", target="_blank", title="PIXLSYS")
        include ../assets-dev/img/logo-pixlsys.svg


