---
template: default.jade
siteDescription: 'Kontakt Crishan Böhner'
---

section.page-section

    .page-section__container.headline-container

        .page-section__content

            h2.headline Kontakt

            p Setzen Sie sich mit mir in Verbindung, rufen Sie an, schreiben Sie mir. Ich freue mich über jede Anfrage.

section.page-section

    .page-section__container

        .page-section__content

            .row

                address.contact-address
                    | <strong>#{cnrb.name}</strong><br>
                    | !{cnrb.address.replace(/[\n\r]+/, '<br>') + '<br>'}
                    | #{cnrb.zip} #{cnrb.city}

                ul.contact-items
                    li.contact-item
                        a.contact-item__link.contact-item__link--email(href="mailto:#{cnrb.email}", title="E-Mail an #{cnrb.name}") #{cnrb.email}
                    li.contact-item
                        a.contact-item__link.contact-item__link--phone(href="tel:#{cnrb.phone}", title="#{cnrb.name} anrufen") #{cnrb.phone_formatted}

